body{
    background-color: rgb(4, 4, 58);
    background-image: url('./img//background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
}
.card-deck{
    display: flex;
    justify-content: space-around;
    gap:5rem;
}
.logo{
    width: 22%;
    height: 110px;
    margin-top: 20px;
}
.card{
    width: 350px;
}
.card-img-top{
    height: 250px;
}
@media (max-width:990px) {
    .card-deck{
        flex-wrap: wrap;
    }
}